<div class="layout-container">

  <div class="state-layer loading" *ngIf="profileLoading()">
    <div class="spinner"></div>
  </div>

  <!-- PROFILE -->
  <main class="profile-content" *ngIf="!profileLoading() && profile() as profile">

    <app-profile-header [profile]="profile"></app-profile-header>

    <div class="content-body">

      <!-- STATS -->
<app-profile-stats
  class="stats-section"
  [postsCount]="profile.postsCount"
  [followerCount]="profile.followerCount"
  [followingCount]="profile.followingCount">
</app-profile-stats>

      <!-- GRID SECTION -->
      <div class="grid-section">

        <!-- TABS -->
        <div class="tabs">

          <button
            class="tab"
            [class.active]="activeTab() === 'posts'"
            (click)="switchToPosts()">
            POSTS
          </button>

          <button
          *ngIf="isOwnProfile"
            class="tab"
            [class.active]="activeTab() === 'saved'"
            (click)="switchToSaved()">
            SAVED
          </button>

        </div>

        <!-- POSTS GRID -->
        <app-profile-posts-grid
          *ngIf="activeTab() === 'posts'"
          [posts]="posts()"
          (toggleLike)="onToggleLike($event)"
          (viewPost)="onViewPost($event)">
        </app-profile-posts-grid>

        <!-- SAVED GRID -->
        <app-profile-posts-grid
          *ngIf="activeTab() === 'saved'"
          [posts]="savedPosts()"
          (toggleLike)="onToggleLike($event)"
          (viewPost)="onViewPost($event)">
        </app-profile-posts-grid>

        <!-- EMPTY STATE -->
        <div
          *ngIf="activeTab() === 'saved' && !savedPosts().length"
          class="empty-state">
          <p>No saved posts yet.</p>
        </div>

      </div>
    </div>

    <!-- POST MODAL -->
    <app-post-modal
      *ngIf="selectedPost() as selectedPost"
      [post]="selectedPost"
      [profile]="profile"
      (close)="closePost()"
      (toggleLike)="onToggleLike($event)"
      (toggleSave)="onToggleSave($event)"
      (editPost)="openEditModal($event)">
    </app-post-modal>

    <!-- EDIT POST MODAL -->
    <app-add-post-modal
      *ngIf="showEditModal"
      [editMode]="true"
      [editPost]="selectedEditPost"
      (close)="closeEditModal()">
    </app-add-post-modal>

  </main>

  <div class="state-layer error" *ngIf="!profileLoading() && !profile()">
    <div class="error-toast">Unable to load profile.</div>
  </div>

</div>
